
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 100%;
}
#page-wrapper {
  min-height: 100%;
  min-width: 960px;
}
#header div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#header div.section {
  position: relative;
}
.region-header {
  float: right; /* LTR */
  margin: 0 5px 10px;
}
.with-secondary-menu .region-header {
  margin-top: 3em;
}
.without-secondary-menu .region-header {
  margin-top: 15px;
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}
#content {}

/*added MHoward 063014*/
#video_box {
  background: url("../images/electric.jpg") center no-repeat;
  position:relative;
  width: 1180px;
  height: 538px;
  left:-100px;
  float:left;
  clear:left;
  border:1px solid #003680;
}

#client_logo {
  width:310px;
  height:50px;
  color:white;
  position:absolute;
  background:left no-repeat;
}

#label {
  background: url("../images/sok_label.jpg") center no-repeat;
  width:310px;
  height:50px;
  float:right;
  right:-5px;
  top:-51px;
  margin-bottom:20px;
  opacity:.9;
  position:relative;
}

#drop_menu {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  border:1px solid #003680;
  left:35%;
  width:347px;
  position:relative;
  text-align: left;
  margin-bottom:1px;
  background:rgba(0,0,0,.5);
}

#drop_menu a:link {
  color:white;
}

#drop_menu a:visited {
  color:white;
}

#drop_menu a:hover {
  color:white;
}

#drop_menu a:active {
  color:white;
}

#drop_menu ul li:hover, #drop_menu ul li:hover a {
  color: white;
}

#drop_menu ul li ul li:hover, #drop_menu ul li ul li:hover a {
  color:white;
}

#drop_menu ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  /*-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
  z-index:5;
}

#drop_menu ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background:rgba(0,0,0,.5); /*background of buttons pre-hover*/
  color:white;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  z-index:5;
}

#drop_menu ul li:hover {
  background: rgba(0,0,0,.5);
  box-shadow: inset 0px 0px 10px 10px #96B7D4;
  color: white;
  z-index:5;
}

#drop_menu ul li ul {
   padding: 0;
   position: absolute;
   top: 48px;
   left: 0;
   width: 150px;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   display: none;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: opacity 0.2s;
   -moz-transition: opacity 0.2s;
   -ms-transition: opacity 0.2s;
   -o-transition: opacity 0.2s;
   -transition: opacity 0.2s;
   z-index:5;
}

#drop_menu ul li ul li { 
   background:rgba(0,0,0,.5); 
   display: block; 
   color: white;
   /*text-shadow: 0 -1px 0 #000;*/ /*Text shadowing on drop down menu*/
   z-index:5;
}

#drop_menu ul li ul li:hover { 
  background: rgba(0,0,0,.5); /*Background of dropped down options*/
  box-shadow: inset 0px 0px 10px 10px #96B7D4;
  color:white;
  z-index:5;
}

#drop_menu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  z-index:5;
}

#drop_menu ul li ul li ul {
  display: none;
}

.esri:hover>ul>li {
  position:relative;
  top:auto;
}

#drop_menu ul li ul li ul li {
  display:none;
}

#drop_menu ul .esri:hover ul {
  left:-155px;
  top: 0px;
  z-index:5;
  display: block;
}

#drop_menu ul .esri:hover ul li {
  display: block;
}

#playlist {
  color:white;
  position:absolute;
  background:rgba(0,0,0,.3);
  float:left;
  padding:10px;
  width:273px;
  height:464px !important;
  border:1px solid #003680;
  margin-left:1px;
  left:auto;
  overflow: auto;
}

#playlist .col1 {
  display: none;
  max-height: 300px !important;
}

#playlist .desc {
  display: none;
}

#playlist h2 {
  font-size: 14pt;
}


#playlist h2:hover {
  cursor: pointer;
  text-decoration: underline;
}

#playlist a:active, #playlist a:hover, #playlist a:link, #playlist a:visited {
  color:white;
}

#video_player {
  position:relative;
  background-repeat:no-repeat;
  background-position:center;
  background-color:rgba(0,0,0,.3);
  width:640px;
  height:360px;
  left:297px;
  border:1px solid #003680;
  margin-right:1px;
  overflow:none;
}

#video_player #contact_form, #video_player #video {
  display:none;
}

#video_player #about {
  padding-left:10px;
  padding-right:10px;
  display:none;
  background:rgba(255,255,255,.8);
  color:black;
}

#video_player #video {
}

/* success and failure messages mail */
.success { 
  display:none;
  text-align:center;
  color:blue;
}

.failure {
  display:none;
  text-align:center;
  color:red;
}

#advert {
  text-align:center;
  width:237px;
  height:484px;
  top:-362px;
  margin-right:1px;
  margin-left:1px;
  float:right;
  background-color:rgba (0,0,0,.5);
  border:1px solid #003680;
  color:white;
  position:relative;
}

#summary h2 {
  margin-top: 35px;
}

#summary {
  position:relative;
  background-color:rgba(0,0,0,.7);
  color:white;
  float:left;
  text-align:center;
  height:121px;
  left:296px;
  width:640px;
  margin-left:1px;
  margin-top:1px;
  border:1px solid #003680;
  font-size: 18px;
  overflow:auto;
}

#summary h3 {
  color: white;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 12pt;
  text-align: left;
}

#summary p {
  color: white;
  margin-left: 20px;
  text-align: left;
  font-size: 10pt;
  margin-top: 0;
}

#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
.one-sidebar #content {
  width: 720px;
}
.two-sidebars #content {
  width: 480px;
}
.no-sidebars #content {
  width: 960px;
  float: none;
}
#sidebar-first,
#sidebar-second {
  width: 240px;
}
#main-wrapper {
  min-height: 300px;
}
#content .section,
.sidebar .section {
  padding: 0 15px;
}
#breadcrumb {
  margin: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 20px 20px 30px;
  width: 280px;
}
#footer-wrapper {
  padding: 35px 5px 30px;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  padding: 0 10px;
  width: 220px;
}
#footer {
  width: 940px;
  min-width: 920px;
}
